@model OnlineShop.Models.Review

@{
    ViewBag.Titlu = "Afisare review";
}


<h2>@ViewBag.Titlu</h2>
<br />

<p>@ViewBag.Produse.ToList<Produs>().Find(@Model.ProdusId).Titlu</p>
<p>@Model.Continut</p>

<form method="post" action="/Reviewuri/Delete/@Model.UtilizatorId/@Model.ProdusId">

    <button class="btn btn-danger" type="submit">Sterge review-ul</button>

</form>
<br />
<a class="btn alert-success" href="/Reviewuri/Index/">Afisare lista review-uri</a>

<br />
<hr />
<br />
